.wrapper {
    min-height: 100%;
}

.image-slider__image {
    text-align: center;
}

.image-slider__image img {
    max-width: 100%;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: $color-additional;
    font-size: 80px;
}

.image-slider .swiper-pagination {
    bottom: 100px;
}

.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: $color-additional;
}

.image-slider .swiper-scrollbar-drag {
    cursor: pointer;
    background-color: $color-additional;
}

@media screen and (min-width: 320px) and (max-width: $breakpoint-tablet) {
    .image-slider .swiper-button-prev::after,
    .image-slider .swiper-button-next::after {
        color: $color-additional;
        font-size: 50px;
    }

    .image-slider .swiper-pagination,
    .image-slider .swiper-scrollbar-drag {
        display: none;
    }
}
