.header {
    position: relative;
    margin: 0 auto 50px;
    min-height: 100%;
    width: 100%;
    background-color: $color-inspiration-background;

    .leftSideBtn {
        display: flex;
        justify-content: flex-end;


        .groupButtons {
            display: flex;
            justify-content: space-between;
            width: 50vw;
            margin-right: 100px;

            .radiobuttons {
                display: flex;
                align-items: center;

                .switch {
                    position: relative;
                    width: 27px;
                    height: 27px;
                    border-radius: 100%;
                    background-color: $color-inspiration-background;
                    border: 1px solid #{$color-inspiration-background};
                    margin-right: 20px;

                    &::after {
                        content: " ";
                        position: absolute;
                        top: 8px;
                        right: 8px;
                        bottom: 8px;
                        left: 8px;
                        border-radius: 100%;
                        background-color: $color-text4;
                    }

                    &.switch-active {
                        border-color: $color-primary;

                        &::after {
                            background-color: $color-primary;
                        }
                    }
                }
            }

            .carouselButtons {
                display: flex;
                cursor: pointer;

                .buttonPrev {
                    margin-right: 10px;
                }
            }
        }
    }

    .header__menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 50px;

        a {
            cursor: pointer;
            color: $color-titles;
            font-weight: 500;
            font-size: 16px;
            text-decoration: none;
        }

        .header__logo {

            & a {
                font-weight: bold;
                font-size: 24px;
                line-height: 29px;
            }
        }

        input {
            background: url("../assets/images/header/search.png") no-repeat left;
            background-position-x: 2mm;
            padding: 5px 40px;
            color: $color-text2;
            border: none;
        }

        .favorites,
        .cart {
            cursor: pointer;
            color: $color-basket;
        }
    }

    .header-small {
        .header-small__menu {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            & a {
                cursor: pointer;
                color: $color-titles;
                font-weight: 500;
                font-size: 16px;
                text-decoration: none;
            }

            .header-small__row-top,
            .header-small__row-bottom {
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 90%;
            }

            .header-small__row-top {
                margin-bottom: 20px;
            }

            .header-small__row-bottom {
                width: 70%;
            }

            .header-small__logo {
                font-weight: bold;
                font-size: 24px;
            }

            input {
                background: url("../assets/images/header/search.png") no-repeat left;
                background-position-x: 2mm;
                padding: 5px 40px;
                color: $color-text2;
                border: none;
            }

            .favorites,
            .cart,
            .user {
                cursor: pointer;
                color: $color-basket;
                margin: 0 10px;
            }
        }
    }

    .dropdown {

        #dropdownMenuButton {
            background-color: $color-inspiration-background;
        }

        .dropdown-item {
            color: $color-text3;
            margin-bottom: 10px;
        }

        .userName {
            color: $color-text3;

            &::after {
                content: url(../assets/images/header/person.svg);
                margin-left: 5px;
            }
        }

        .userMail {
            color: $color-text3;

            &::after {
                content: url(../assets/images/header/mail.svg);
                margin-left: 5px;
            }
        }

        .userNotifications {
            color: $color-text3;

            &::after {
                content: url(../assets/images/header/bell.svg);
            }
        }

        .userSettings {
            color: $color-text3;

            &::after {
                content: url(../assets/images/header/gear.svg);
                margin-left: 5px;
            }
        }
    }

    .jumbotron {
        position: absolute;
        width: 494px;
        height: 553px;
        left: 110px;
        top: 140px;
        background-color: rgba(255, 255, 255, 0.72);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        .display-4 {
            font-weight: 700;
            font-size: 56px;
            color: $color-titles;
        }

        .lead {
            font-size: 20px;
            font-weight: 500;
            color: $color-text3;
        }

        .header__button {
            display: flex;
            justify-content: center;
            width: 374px;
            background-color: $color-primary;

            .btn {
                font-size: 20px;
                color: $color-white;
            }
        }
    }
}

.jumbotron-small {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.72);
    margin: 30px;

    .display-4 {
        font-weight: 700;
        font-size: 25px;
        color: $color-titles;
        text-align: center;
        margin-bottom: 20px;
    }

    .lead {
        font-size: 15px;
        font-weight: 500;
        color: $color-text3;
        text-align: center;
        margin-bottom: 30px;
    }

    .header__button {
        display: flex;
        justify-content: center;
        width: 90%;
        background-color: $color-primary;

        .btn {
            font-size: 20px;
            color: $color-white;
        }
    }
}

.navbar {

    .hamburger__logo {
        font-weight: 700;
        font-size: 24px;
        color: $color-titles;
        background-color: $color-inspiration-background;
    }
}

.text-white {
    input {
        background: url("../assets/images/header/search.png") no-repeat left;
        background-position-x: 2mm;
        padding: 0 40px;
        border: none;
    }
}

.text-muted {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

#carouselExampleIndicators {
    margin: 0 auto;

    .carousel-item {
        margin: 0 100px 0 50px;
        padding: 50px 150px 0;
    }

    .carousel-inner {
        position: relative;

        .caption {
            position: absolute;
            width: 254px;
            height: 148px;
            right: 190px;
            bottom: 40px;
            padding: 20px;
            background-color: rgba(255, 255, 255, 0.5);

            h3 {
                font-size: 28px;
            }

            h4 {
                font-size: 20px;
                color: $color-titles;

                &::after {
                    content: " →";
                }
            }

            p {
                font-size: 16px;
                color: $color-text2;
            }
        }
    }
}


.header__benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    margin-bottom: 50px;

    .item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;


        .item__img {
            margin-right: 10px;
        }

        .item__header {
            color: $color-titles;
        }

        .item__text {
            color: $color-text3;
        }
    }
}

//320-360
@media screen and (max-width: $breakpoint-phone) {
    .header {

        .header__menu,
        .header-small,
        .jumbotron,
        .leftSideBtn {
            display: none;
        }
    }

    #carouselExampleIndicators {
        margin-top: 30px;

        .carousel-item {
            margin: 0;
            padding: 0;
        }

        .caption {
            display: none;
        }
    }

    .header__benefits {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .item {
            margin-bottom: 20px;

            .item__img {
                margin-right: 30px;
            }
        }
    }
}

//361-499
@media screen and (min-width: #{$breakpoint-phone+1px}) and (max-width: $breakpoint-tablet) {
    .header {

        .header__menu,
        .header-small,
        .jumbotron,
        .leftSideBtn {
            display: none;
        }
    }

    #carouselExampleIndicators {
        margin-top: 30px;

        .carousel-item {
            margin: 0;
            padding: 0;
        }

        .caption {
            position: absolute;
            width: 180px;
            height: 100px;
            left: 20px;
            top: 20px;
            padding: 10px;

            h3 {
                font-size: 20px;
            }

            h4 {
                font-size: 18px;
                color: $color-titles;
            }

            p {
                font-size: 12px;
                color: $color-text2;
            }
        }
    }

    .header__benefits {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .item {
            margin-bottom: 20px;

            .item__img {
                margin-right: 30px;
            }
        }
    }
}


//500-768
@media screen and (min-width: #{$breakpoint-tablet+1px}) and (max-width: $breakpoint-small) {
    .header {
        padding-top: 30px;

        .pos-f-t,
        .header__menu,
        .jumbotron,
        .leftSideBtn {
            display: none;
        }
    }

    #carouselExampleIndicators {
        margin-top: 30px;

        .carousel-item {
            margin: 0;
            padding: 0;
        }

        .caption {
            position: absolute;
            width: 180px;
            height: 100px;
            left: 30px;
            top: 20px;
            padding: 10px;

            h3 {
                font-size: 20px;
            }

            h4 {
                font-size: 18px;
                color: $color-titles;
            }

            p {
                font-size: 12px;
                color: $color-text2;
            }
        }
    }

    .header__benefits {
        padding: 20px;
        font-size: smaller;

        .item {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }
    }
}

//769-1023
@media screen and (min-width: #{$breakpoint-small+1px}) and (max-width: $breakpoint-medium) {
    .header {
        padding-top: 30px;

        .header__menu,
        .pos-f-t,
        #header__jumbotron-small,
        .leftSideBtn {
            display: none;
        }

        .jumbotron {
            width: 394px;
            height: 453px;
            left: 30px;
            top: 140px;

            .display-4 {
                font-size: 46px;
            }

            .lead {
                font-size: 15px;
            }

            .header__button {
                width: 274px;
            }
        }
    }

    #carouselExampleIndicators {
        margin-top: 30px;

        .carousel-item {
            margin: 0;
            padding: 0;
        }

        .carousel-inner {
            .caption {
                right: 40px;
                bottom: 40px;
            }

            h3 {
                font-size: 20px;
            }

            h4 {
                font-size: 20px;
                color: $color-titles;

                &::after {
                    content: " →";
                }
            }

            p {
                font-size: 13px;
                color: $color-text2;
            }
        }
    }
}


//1024-1199
@media screen and (min-width: #{$breakpoint-medium+1px}) and (max-width: $breakpoint-large) {
    .header {

        .header__menu {
            display: flex;
            align-items: center;
            padding: 50px 20px;
        }

        .pos-f-t,
        .header-small,
        #header__jumbotron-small {
            display: none;
        }

        .jumbotron {
            width: 394px;
            height: 453px;
            left: 30px;
            top: 140px;

            .display-4 {
                font-size: 46px;
            }

            .lead {
                font-size: 15px;
            }

            .header__button {
                width: 274px;
            }
        }
    }

    #carouselExampleIndicators {

        .caption {
            right: 40px;
            bottom: 40px;
        }
    }
}

//1199
@media screen and (min-width: #{$breakpoint-large+1px}) {

    .pos-f-t,
    .header-small,
    #header__jumbotron-small {
        display: none;
    }

}