$color-titles: #3A3A3A; //Gray 1
$color-text2: #616161; //Gray 2
$color-text3: #898989; //Gray 3
$color-text4: #B0B0B0; //Gray 4
$color-text5: #D8D8D8; //Gray 5
$color-primary: #E89F71; // buttons
$color-green-accents: #2EC1AC; //new
$color-red-accents: #E97171; // sale
$color-inspiration-background: #FCF8F3; // 50+ rooms 
$color-pale-orange: #F9F1E7; // верхний левый квадрат-подложка
$color-area: rgba(255, 255, 255, 0.562);
$color-black: #000000;
$color-white: #FFFFFF;
$color-product-background: #F4F5F7; // бэкграунд в Our Products
$color-basket: #262F56; // корзина и лайки