@charset "UTF-8";
@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.eot");
  src: local("Gilroy"), local("Gilroy"), url("../fonts/Gilroy-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.header {
  position: relative;
  margin: 0 auto 50px;
  min-height: 100%;
  width: 100%;
  background-color: #FCF8F3;
}
.header .leftSideBtn {
  display: flex;
  justify-content: flex-end;
}
.header .leftSideBtn .groupButtons {
  display: flex;
  justify-content: space-between;
  width: 50vw;
  margin-right: 100px;
}
.header .leftSideBtn .groupButtons .radiobuttons {
  display: flex;
  align-items: center;
}
.header .leftSideBtn .groupButtons .radiobuttons .switch {
  position: relative;
  width: 27px;
  height: 27px;
  border-radius: 100%;
  background-color: #FCF8F3;
  border: 1px solid #FCF8F3;
  margin-right: 20px;
}
.header .leftSideBtn .groupButtons .radiobuttons .switch::after {
  content: " ";
  position: absolute;
  top: 8px;
  right: 8px;
  bottom: 8px;
  left: 8px;
  border-radius: 100%;
  background-color: #B0B0B0;
}
.header .leftSideBtn .groupButtons .radiobuttons .switch.switch-active {
  border-color: #E89F71;
}
.header .leftSideBtn .groupButtons .radiobuttons .switch.switch-active::after {
  background-color: #E89F71;
}
.header .leftSideBtn .groupButtons .carouselButtons {
  display: flex;
  cursor: pointer;
}
.header .leftSideBtn .groupButtons .carouselButtons .buttonPrev {
  margin-right: 10px;
}
.header .header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
}
.header .header__menu a {
  cursor: pointer;
  color: #3A3A3A;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
.header .header__menu .header__logo a {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
}
.header .header__menu input {
  background: url("../assets/images/header/search.png") no-repeat left;
  background-position-x: 2mm;
  padding: 5px 40px;
  color: #616161;
  border: none;
}
.header .header__menu .favorites,
.header .header__menu .cart {
  cursor: pointer;
  color: #262F56;
}
.header .header-small .header-small__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .header-small .header-small__menu a {
  cursor: pointer;
  color: #3A3A3A;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}
.header .header-small .header-small__menu .header-small__row-top,
.header .header-small .header-small__menu .header-small__row-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}
.header .header-small .header-small__menu .header-small__row-top {
  margin-bottom: 20px;
}
.header .header-small .header-small__menu .header-small__row-bottom {
  width: 70%;
}
.header .header-small .header-small__menu .header-small__logo {
  font-weight: bold;
  font-size: 24px;
}
.header .header-small .header-small__menu input {
  background: url("../assets/images/header/search.png") no-repeat left;
  background-position-x: 2mm;
  padding: 5px 40px;
  color: #616161;
  border: none;
}
.header .header-small .header-small__menu .favorites,
.header .header-small .header-small__menu .cart,
.header .header-small .header-small__menu .user {
  cursor: pointer;
  color: #262F56;
  margin: 0 10px;
}
.header .dropdown #dropdownMenuButton {
  background-color: #FCF8F3;
}
.header .dropdown .dropdown-item {
  color: #898989;
  margin-bottom: 10px;
}
.header .dropdown .userName {
  color: #898989;
}
.header .dropdown .userName::after {
  content: url(../assets/images/header/person.svg);
  margin-left: 5px;
}
.header .dropdown .userMail {
  color: #898989;
}
.header .dropdown .userMail::after {
  content: url(../assets/images/header/mail.svg);
  margin-left: 5px;
}
.header .dropdown .userNotifications {
  color: #898989;
}
.header .dropdown .userNotifications::after {
  content: url(../assets/images/header/bell.svg);
}
.header .dropdown .userSettings {
  color: #898989;
}
.header .dropdown .userSettings::after {
  content: url(../assets/images/header/gear.svg);
  margin-left: 5px;
}
.header .jumbotron {
  position: absolute;
  width: 494px;
  height: 553px;
  left: 110px;
  top: 140px;
  background-color: rgba(255, 255, 255, 0.72);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.header .jumbotron .display-4 {
  font-weight: 700;
  font-size: 56px;
  color: #3A3A3A;
}
.header .jumbotron .lead {
  font-size: 20px;
  font-weight: 500;
  color: #898989;
}
.header .jumbotron .header__button {
  display: flex;
  justify-content: center;
  width: 374px;
  background-color: #E89F71;
}
.header .jumbotron .header__button .btn {
  font-size: 20px;
  color: #FFFFFF;
}

.jumbotron-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.72);
  margin: 30px;
}
.jumbotron-small .display-4 {
  font-weight: 700;
  font-size: 25px;
  color: #3A3A3A;
  text-align: center;
  margin-bottom: 20px;
}
.jumbotron-small .lead {
  font-size: 15px;
  font-weight: 500;
  color: #898989;
  text-align: center;
  margin-bottom: 30px;
}
.jumbotron-small .header__button {
  display: flex;
  justify-content: center;
  width: 90%;
  background-color: #E89F71;
}
.jumbotron-small .header__button .btn {
  font-size: 20px;
  color: #FFFFFF;
}

.navbar .hamburger__logo {
  font-weight: 700;
  font-size: 24px;
  color: #3A3A3A;
  background-color: #FCF8F3;
}

.text-white input {
  background: url("../assets/images/header/search.png") no-repeat left;
  background-position-x: 2mm;
  padding: 0 40px;
  border: none;
}

.text-muted {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

#carouselExampleIndicators {
  margin: 0 auto;
}
#carouselExampleIndicators .carousel-item {
  margin: 0 100px 0 50px;
  padding: 50px 150px 0;
}
#carouselExampleIndicators .carousel-inner {
  position: relative;
}
#carouselExampleIndicators .carousel-inner .caption {
  position: absolute;
  width: 254px;
  height: 148px;
  right: 190px;
  bottom: 40px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5);
}
#carouselExampleIndicators .carousel-inner .caption h3 {
  font-size: 28px;
}
#carouselExampleIndicators .carousel-inner .caption h4 {
  font-size: 20px;
  color: #3A3A3A;
}
#carouselExampleIndicators .carousel-inner .caption h4::after {
  content: " →";
}
#carouselExampleIndicators .carousel-inner .caption p {
  font-size: 16px;
  color: #616161;
}

.header__benefits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding: 20px;
  margin-bottom: 50px;
}
.header__benefits .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px;
}
.header__benefits .item .item__img {
  margin-right: 10px;
}
.header__benefits .item .item__header {
  color: #3A3A3A;
}
.header__benefits .item .item__text {
  color: #898989;
}

@media screen and (max-width: 360px) {
  .header .header__menu,
.header .header-small,
.header .jumbotron,
.header .leftSideBtn {
    display: none;
  }

  #carouselExampleIndicators {
    margin-top: 30px;
  }
  #carouselExampleIndicators .carousel-item {
    margin: 0;
    padding: 0;
  }
  #carouselExampleIndicators .caption {
    display: none;
  }

  .header__benefits {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .header__benefits .item {
    margin-bottom: 20px;
  }
  .header__benefits .item .item__img {
    margin-right: 30px;
  }
}
@media screen and (min-width: 361px) and (max-width: 499px) {
  .header .header__menu,
.header .header-small,
.header .jumbotron,
.header .leftSideBtn {
    display: none;
  }

  #carouselExampleIndicators {
    margin-top: 30px;
  }
  #carouselExampleIndicators .carousel-item {
    margin: 0;
    padding: 0;
  }
  #carouselExampleIndicators .caption {
    position: absolute;
    width: 180px;
    height: 100px;
    left: 20px;
    top: 20px;
    padding: 10px;
  }
  #carouselExampleIndicators .caption h3 {
    font-size: 20px;
  }
  #carouselExampleIndicators .caption h4 {
    font-size: 18px;
    color: #3A3A3A;
  }
  #carouselExampleIndicators .caption p {
    font-size: 12px;
    color: #616161;
  }

  .header__benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .header__benefits .item {
    margin-bottom: 20px;
  }
  .header__benefits .item .item__img {
    margin-right: 30px;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .header {
    padding-top: 30px;
  }
  .header .pos-f-t,
.header .header__menu,
.header .jumbotron,
.header .leftSideBtn {
    display: none;
  }

  #carouselExampleIndicators {
    margin-top: 30px;
  }
  #carouselExampleIndicators .carousel-item {
    margin: 0;
    padding: 0;
  }
  #carouselExampleIndicators .caption {
    position: absolute;
    width: 180px;
    height: 100px;
    left: 30px;
    top: 20px;
    padding: 10px;
  }
  #carouselExampleIndicators .caption h3 {
    font-size: 20px;
  }
  #carouselExampleIndicators .caption h4 {
    font-size: 18px;
    color: #3A3A3A;
  }
  #carouselExampleIndicators .caption p {
    font-size: 12px;
    color: #616161;
  }

  .header__benefits {
    padding: 20px;
    font-size: smaller;
  }
  .header__benefits .item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .header {
    padding-top: 30px;
  }
  .header .header__menu,
.header .pos-f-t,
.header #header__jumbotron-small,
.header .leftSideBtn {
    display: none;
  }
  .header .jumbotron {
    width: 394px;
    height: 453px;
    left: 30px;
    top: 140px;
  }
  .header .jumbotron .display-4 {
    font-size: 46px;
  }
  .header .jumbotron .lead {
    font-size: 15px;
  }
  .header .jumbotron .header__button {
    width: 274px;
  }

  #carouselExampleIndicators {
    margin-top: 30px;
  }
  #carouselExampleIndicators .carousel-item {
    margin: 0;
    padding: 0;
  }
  #carouselExampleIndicators .carousel-inner .caption {
    right: 40px;
    bottom: 40px;
  }
  #carouselExampleIndicators .carousel-inner h3 {
    font-size: 20px;
  }
  #carouselExampleIndicators .carousel-inner h4 {
    font-size: 20px;
    color: #3A3A3A;
  }
  #carouselExampleIndicators .carousel-inner h4::after {
    content: " →";
  }
  #carouselExampleIndicators .carousel-inner p {
    font-size: 13px;
    color: #616161;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header .header__menu {
    display: flex;
    align-items: center;
    padding: 50px 20px;
  }
  .header .pos-f-t,
.header .header-small,
.header #header__jumbotron-small {
    display: none;
  }
  .header .jumbotron {
    width: 394px;
    height: 453px;
    left: 30px;
    top: 140px;
  }
  .header .jumbotron .display-4 {
    font-size: 46px;
  }
  .header .jumbotron .lead {
    font-size: 15px;
  }
  .header .jumbotron .header__button {
    width: 274px;
  }

  #carouselExampleIndicators .caption {
    right: 40px;
    bottom: 40px;
  }
}
@media screen and (min-width: 1281px) {
  .pos-f-t,
.header-small,
#header__jumbotron-small {
    display: none;
  }
}
.img_bgr_product {
  height: 145px;
  background-color: #F4F5F7;
  padding: 5px;
}

.btn_like_red {
  background: url("../assets/images/our_products/Like_Red.png");
}

.heading_products {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #3A3A3A;
}

.gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fit, 2fr);
  grid-gap: 15px;
  width: 90vw;
  margin: 0 auto;
}

.gallery__article {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  width: 90%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.gallery__img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

.tooltip {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1.5vw;
  top: 0%;
  left: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  text-align: left;
  color: whitesmoke;
  background: black;
  transition: all ease 0.5s;
}

.img__tooltip {
  position: relative;
  margin: 10px auto;
}

.img__tooltip:hover .tooltip {
  filter: alpha(opacity=70);
  /*установка прозразности*/
  opacity: 0.7;
  /*прозрачность при наведении мыши */
}

.product_name {
  margin: 16px 0 0 16px;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #3A3A3A;
}

.product_sort_discription {
  margin: 8px 0 0 16px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #898989;
}

.price {
  display: flex;
  justify-content: space-between;
}

.product_price_sale {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #3A3A3A;
}

.product_price_cross_out {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: line-through;
  color: #B0B0B0;
}

.product_price {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #3A3A3A;
}

.overlay_all_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay_btn_shake_like {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.bdt_add_product {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #E89F71;
  height: 48px;
  width: 202px;
  left: 42px;
  top: 175px;
  border-radius: 0px;
  background-color: #FFFFFF;
}

.bdt_show_more {
  height: 48px;
  width: 202px;
  left: 42px;
  top: 175px;
  background-color: #FFFFFF;
  border: 1px solid #E89F71;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_show_more {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #E89F71;
}

.link_show_more:hover {
  color: #E89F71;
  text-decoration: none;
}

.swal2-container {
  z-index: 2000 !important;
}

.container_page_our_products {
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.header_our_products {
  padding: 30px;
  background-color: #F9F1E7;
  display: flex;
  justify-content: space-between;
}

.header_favorites_basket {
  width: 500px;
  display: flex;
  justify-content: space-around;
}

.header_link {
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

.header_link {
  color: #000000;
  text-decoration: none;
}

.label_img {
  position: absolute;
  top: 10px;
  right: 20px;
}

.bdt_page_up {
  height: 48px;
  width: 202px;
  left: 42px;
  top: 175px;
  background-color: #FFFFFF;
  border: 1px solid #E89F71;
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link_page_up {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #E89F71;
}

.link_page_up:hover {
  color: #E89F71;
  text-decoration: none;
}

.inspiration {
  margin-bottom: 50px;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
  background-color: #FCF8F3;
}

.inspiration__container {
  margin-top: 5%;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 90vw;
}

.inspiration__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 3%;
}

.inspiration__title {
  color: #3A3A3A;
  font-size: 40px;
  font-style: normal;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
}

.inspiration__subtitle {
  color: #616161;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.inspiration__button {
  color: #FFFFFF;
  background-color: #E89F71;
  border: #E89F71;
  height: 48px;
  width: 176px;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  text-align: center;
}

.inspiration__photo {
  display: flex;
  justify-content: space-around;
}

.inspiration__room-text {
  text-align: center;
  position: relative;
  left: 39px;
  bottom: 142px;
}

.inspiration__room__text {
  width: 217px;
  height: 130px;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.562);
}

.inspiration__room__desc {
  color: #3A3A3A;
  padding: 5px;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 20px;
  margin-left: 30px;
}

.inspiration__room__quote {
  color: #616161;
  padding: 5px;
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 30px;
}

.inspiration__room__btn {
  color: #FFFFFF;
  background-color: #E89F71;
  border: #E89F71;
  position: relative;
  width: 48px;
  height: 48px;
  left: 133px;
  bottom: 48px;
}

.inspiration__photo__room {
  display: none;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(0, 0, 0, 0.8);
}

.inspiration__photo__room:target {
  display: block;
}

.inspiration__photo__room span {
  display: block;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.wrapper {
  padding: 30px;
  min-height: 100%;
  min-width: 0;
}

.image-slider {
  padding: 30px 0 70px 0;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

@media screen and (max-width: 360px) {
  .inspiration {
    display: grid;
    justify-content: center;
    background-color: #FCF8F3;
    margin-top: 20px;
  }

  .inspiration__container {
    margin: 2%;
    display: grid;
    justify-content: center;
    width: 90vw;
  }

  .inspiration__text {
    display: grid;
    justify-content: center;
  }

  .inspiration__photo,
.inspiration__room-text,
.inspiration__room__text,
.inspiration__subtitle {
    display: none;
  }

  .inspiration__gall-photo {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 361px) and (max-width: 499px) {
  .inspiration {
    display: grid;
    justify-content: center;
    background-color: #FCF8F3;
    margin-top: 20px;
  }

  .inspiration__container {
    margin: 2%;
    display: grid;
    width: 90vw;
  }

  .inspiration__text {
    display: grid;
    justify-content: center;
  }

  .inspiration__room-text,
.inspiration__room__text {
    display: none;
  }

  .inspiration__gall-photo {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  .inspiration__container {
    margin: 2%;
    display: grid;
    width: 90vw;
  }

  .inspiration__text {
    display: grid;
    justify-content: center;
  }

  .inspiration__room__text {
    display: none;
  }

  .inspiration__gall-photo {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .inspiration__container {
    margin: 2%;
    display: flex;
    width: 90vw;
  }

  .inspiration__text {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }

  .inspiration__gall-photo {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .inspiration__container {
    margin: 2%;
    display: flex;
    width: 90vw;
  }

  .inspiration__text {
    display: grid;
    flex-direction: column;
    justify-content: center;
  }

  .inspiration__gall-photo {
    display: flex;
    justify-content: center;
  }

  .inspiration__photo {
    display: none;
  }
}
.wrapper {
  min-height: 100%;
}

.image-slider__image {
  text-align: center;
}

.image-slider__image img {
  max-width: 100%;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #E89F71;
  font-size: 80px;
}

.image-slider .swiper-pagination {
  bottom: 100px;
}

.image-slider .swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  background-color: #E89F71;
}

.image-slider .swiper-scrollbar-drag {
  cursor: pointer;
  background-color: #E89F71;
}

@media screen and (min-width: 320px) and (max-width: 499px) {
  .image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
    color: #E89F71;
    font-size: 50px;
  }

  .image-slider .swiper-pagination,
.image-slider .swiper-scrollbar-drag {
    display: none;
  }
}
.tips {
  width: 80vw;
  margin-bottom: 50px;
}

.tips__header {
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  color: #3A3A3A;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

.slide__header {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 29px;
  color: #3A3A3A;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

.slide__date {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  color: #898989;
  font-family: "Gilroy", Arial, Helvetica, sans-serif;
}

.slide__text {
  width: 90%;
  padding: 5% 5% 1% 5%;
}

.tips__carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.splide__slide.is-active .splide__slide__container {
  box-shadow: 0 0 20px 1px #B0B0B0;
}

.splide__slide__container {
  width: 100%;
  height: auto;
  margin-bottom: 4em;
}
.splide__slide__container img {
  width: 100%;
  height: auto;
}

.splide__arrow.splide__arrow--prev {
  left: -1em;
}

.splide__arrow.splide__arrow--next {
  right: -1em;
}

.splide .splide__arrow {
  width: 3em;
  height: 3em;
  background: #FFFFFF;
  opacity: 1;
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  top: 10vw;
  bottom: 0;
}
.splide .splide__arrow svg {
  fill: #E89F71;
}

.splide__pagination .splide__pagination__page {
  background: #D8D8D8;
  width: 11px;
  height: 11px;
  margin: 10px;
  opacity: 1;
}

.splide__pagination .splide__pagination__page.is-active {
  background: #E89F71;
  transform: scale(1);
  outline: 1px solid #E89F71;
  outline-offset: 8px;
}

@media screen and (max-width: 768px) {
  .splide__slide.is-active .splide__slide__container {
    box-shadow: none;
  }
}
.img_funiro {
  max-width: 100%;
  min-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

#total_container_funiro {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin-bottom: 50px;
}

#img_container_funiro1 {
  width: 13vw;
  height: 50vh;
  position: absolute;
  top: 7vh;
}

#img_container_funiro2 {
  width: 19vw;
  height: 41vh;
  position: absolute;
  top: 59vh;
}

#img_container_funiro3 {
  width: 29vw;
  height: 43vh;
  position: absolute;
  top: 14vh;
  left: 15vw;
}

#img_container_funiro4 {
  width: 23vw;
  height: 34vh;
  position: absolute;
  top: 59vh;
  left: 21vw;
}

#img_container_funiro5 {
  width: 21vw;
  height: 59vh;
  position: absolute;
  top: 25vh;
  left: 46vw;
}

#img_container_funiro6 {
  width: 20vw;
  height: 50vh;
  position: absolute;
  top: 16vh;
  left: 69vw;
}

#img_container_funiro7 {
  width: 11vw;
  height: 31.5vh;
  position: absolute;
  top: 68vh;
  left: 69vw;
}

#img_container_funiro8 {
  width: 9vw;
  height: 59vh;
  position: absolute;
  top: 7vh;
  left: 91vw;
}

#img_container_funiro9 {
  width: 17.5vw;
  height: 28.5vh;
  position: absolute;
  top: 68vh;
  left: 82.5vw;
}

#text_container_funiro1 {
  width: 30vw;
  height: 4vh;
  position: absolute;
  left: 34vw;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #616161;
}

#text_container_funiro2 {
  width: 21vw;
  height: 6vh;
  position: absolute;
  top: 5vh;
  left: 38vw;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  color: #3A3A3A;
}

.container_funiro {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 360px) {
  .container_funiro {
    display: none;
  }
}
@media screen and (min-width: 361px) and (max-width: 499px) {
  .container_funiro {
    display: none;
  }
}
@media screen and (min-width: 500px) and (max-width: 768px) {
  #img_container_funiro5,
#img_container_funiro6,
#img_container_funiro7,
#img_container_funiro8,
#img_container_funiro9 {
    display: none;
  }

  #text_container_funiro1 {
    left: 38vw;
    width: 50vw;
    font-size: 20px;
  }

  #text_container_funiro2 {
    top: 3vh;
    left: 43vw;
    font-size: 30px;
  }

  #img_container_funiro1 {
    width: 40vw;
    height: 50vh;
    position: absolute;
    top: 7vh;
  }

  #img_container_funiro2 {
    width: 50vw;
    height: 41vh;
    position: absolute;
    top: 59vh;
  }

  #img_container_funiro3 {
    width: 55vw;
    height: 43vh;
    position: absolute;
    top: 14vh;
    left: 45vw;
  }

  #img_container_funiro4 {
    width: 45vw;
    height: 34vh;
    position: absolute;
    top: 59vh;
    left: 55vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  #text_container_funiro1 {
    left: 33vw;
  }

  #text_container_funiro2 {
    left: 32vw;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1280px) {
  #text_container_funiro1 {
    left: 32vw;
  }

  #text_container_funiro2 {
    left: 31vw;
  }
}
.footer {
  min-height: 336px;
  background-color: #FFFFFF;
  padding: 50px 101px;
  display: grid;
  grid-gap: 70px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.footer__funiro {
  max-width: 249px;
}
.footer__menu {
  max-width: 104px;
}
.footer__account {
  max-width: 93px;
}
.footer__connect {
  max-width: 180px;
}
.footer__subscribe {
  max-width: 292px;
}
.footer__column {
  display: grid;
  align-content: start;
}
@media (min-width: 1500px) {
  .footer__column {
    grid-row-gap: 16px;
  }
}
@media (min-width: 1230px) and (max-width: 1499px) {
  .footer__column {
    grid-row-gap: 10px;
  }
}
@media (min-width: 800px) and (max-width: 1229px) {
  .footer__column {
    grid-row-gap: 5px;
  }
}
.footer__column a:hover {
  color: #E89F71;
}
.footer__column_title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
@media (max-width: 1500px) {
  .footer__column_title {
    margin: 5px;
  }
}
.footer__column_item {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
  color: #616161;
}
.footer__column_description {
  max-width: 249px;
  margin-top: 0;
}
.footer__column_subscribe__input {
  width: 70%;
  height: 45px;
  background-color: #F4F5F7;
  border: none;
  padding: 3px 0 3px 10px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 150%;
}
.footer__column_subscribe__input:focus {
  border-color: #E89F71;
  outline: none;
  font-family: Gilroy;
  font-style: normal;
  color: #616161;
}
.footer__column_subscribe__button {
  background-color: #E89F71;
  border: none;
  width: 45px;
  height: 45px;
}
.footer__column_subscribe__button:hover {
  cursor: pointer;
  background-color: #E97171;
}
.footer p {
  margin: 0;
}

body,
html {
  font-family: "Gotham Pro", Arial, Helvetica, sans-serif;
  width: 100%;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */